@using BrainShare.Utils.Extensions

<!DOCTYPE html>
<html lang="en" @RenderSection("Schemas", false)>
    <head>
        <meta charset="utf-8">
        <title>BrainShare - @ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @RenderSection("Meta", required: false)
        <link href="~/Scripts/Plugins/datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        <link href="~/Scripts/Plugins/pnotify-1.2.0/jquery.pnotify.default.css" rel="stylesheet" />
        <link href="~/Content/imgAreaSelect/imgareaselect-default.css" rel="stylesheet" />
        <link href="~/Scripts/Plugins/autocomplete/selectize.css" rel="stylesheet" />
        <link href="~/Content/site.css" rel="stylesheet" />
        <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <!--[if IE 7]>
            <link href="~/Content/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" />  
        <![endif]-->
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        @* Libs Scripts*@
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
        <script src="~/Scripts/infrastructure/notifications.js"></script>
        <script src="~/Scripts/knockout-3.0.0.js"></script>
        <script src="~/Scripts/sammy-0.7.4.min.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.js"></script>
        <script src="~/Scripts/infrastructure/ko.common.js"></script>
        <script src="~/Scripts/infrastructure/filtering.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/knockout-bootstrap.min.js"></script>
        <script src="~/Scripts/Plugins/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/Plugins/datepicker/js/locales/bootstrap-datepicker.ru.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/Plugins/pnotify-1.2.0/jquery.pnotify.min.js"></script>
        <script src="~/Scripts/Plugins/autocomplete/selectize.js"></script>
        @* Our Scripts*@
        <script src="~/Scripts/infrastructure/counting.js"></script>

        <script src="~/Scripts/Views/Shared/EditBookViewModel.js"></script>
        @RenderSection("head", required: false)
        @* favicons and touch icons go here *@

        @if (Request.IsAuthenticated)
        {
            <script>
                window.CurrentUserId = "@ViewBag.UserId";
            </script>
        }
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">BrainShare</a>

                    <div class="nav-collapse collapse">

                        @if (Request.IsAuthenticated)
                        { 
                            <p class="navbar-text pull-right" id="currentUser">
                                <a class="label label-warning" href="/Profile/Inbox"><i class="icon-book icon-large "></i><strong style="padding-left: 5px;" id="navigationBooksCounter">0</strong></a>
                                <a class="label label-info" href="/Profile/AllMessages"><i class="icon-envelope icon-large "></i><strong style="padding-left: 5px;" id="navigationMessagesCounter">0</strong></a>
                                <a href="/profile" class="navbar-link" style="padding-left: 10px; padding-right: 10px;">@ViewBag.UserName</a>
                                <a href="@Url.Action("Logout", "User")" >Выйти</a>
                            </p>
                        }
                        else
                        {
                            <ul class="nav pull-right">
                                @Html.MenuLink("Регистрация", "Register", "User")
                                @Html.MenuLink("Войти", "Login", "User")
                                @Html.MenuLink("", "LoginWithFacebook", "FacebookLogin", "facebook-link")
                                @Html.MenuLink("", "LoginWithVk", "VkLogin", "vk-link")
                            </ul>
                        }

                        <ul class="nav" id="mainNav">
                            @Html.MenuLink("Книги", "Index", "Books", null)
                            @Html.MenuLink("Мой Аккаунт", "Index", "Profile", null)
                            @Html.MenuLink("Пользователи", "Index", "Users")
                        </ul>

                        <ul class="nav" id="loadBar" style="display: none">
                            <li>
                                <div id="progress" style="margin-left: 5%">
                                    <div id="bar" class="custom-progress-bar"></div>
                                    <div id="percent" class="custom-progress-bar-percent">0 %</div>
                                </div>
                            </li>
                            <li>
                                <div style="margin-left: 85%; margin-top: 8%;">
                                    <button id="cancelLoading" class="btn btn-mini btn-danger">Отменить</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>


        @RenderSection("Scripts", required: false)
        @Html.Partial("GoogleAnalytics")
        @Html.Partial("YandexMetrics")
    </body>
</html>
