@using System.Web.Optimization
@using BrainShare.Extensions
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | BrainShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
   
    @* Libs Scripts*@
    <script src="~/Scripts/jquery-2.0.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.2.min.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-bootstrap.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>

    @* Our Scripts*@
    <script src="~/Scripts/custom/common.js"></script>
    <script src="~/Scripts/custom/addbook.js"></script>
    <script src="~/Scripts/custom/allbooks.js"></script>

    @RenderSection("head", required: false)
    @* favicons and touch icons go here *@
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">BrainShare</a>
                <div class="nav-collapse collapse">

                    @if (Request.IsAuthenticated)
                    { 
                        <p class="navbar-text pull-right ">
                            <a href="/profile" class="navbar-link">@ViewBag.UserName</a> (@User.Identity.Name) <a  href="@Url.Action("Logout", "User")" >Logout</a>
                        </p>
                    }
                    else
                    {
                        <ul class="nav pull-right">
                            @Html.MenuLink("Регистрация", "Register", "User", null)
                            @Html.MenuLink("Войти", "Login", "User", null)
                            @Html.MenuLink("Facebook", "LoginWithFacebook", "User", "facebook-link")
                        </ul>
                    }

                    <ul class="nav">
                        @Html.MenuLink("Активность", "Index", "Home", null)
                        @Html.MenuLink("Искать", "Search", "Books")
                        @Html.MenuLink("Книги", "Index", "Books", null)

                        @{
                            var actionsForProfile = new Dictionary<string, List<string>>();
                            actionsForProfile["Сообщения"] = new List<string>() { "AllMessages", "Profile" };
                            actionsForProfile["Входящие"] = new List<string>() { "Inbox", "Profile" };
                            actionsForProfile["Мои Книги"] = new List<string>() { "MyBooks", "Profile" };
                            actionsForProfile["Я ищу Книги"] = new List<string>() { "WishList", "Profile" };

                        }
                        @Html.MenuDropdown(actionsForProfile, "Профиль")

                        @{
                            var actionsForHelp = new Dictionary<string, List<string>>();
                            actionsForHelp["Помощь"] = new List<string>() { "Index", "Help" };
                            actionsForHelp["Как добавить книгу в коллекцию?"] = new List<string>() { "HowToAddBook", "Help" };
                            actionsForHelp["Как найти нужную вам книгу?"] = new List<string>() { "HowToSearchBook", "Help" };
                            actionsForHelp["Как обменяться книгами?"] = new List<string>() { "HowToExchangeBook", "Help" };
                        }
                        @Html.MenuDropdown(actionsForHelp, "Помощь")

                        @Html.MenuLink("Отзывы", "Feedback", "Home", null)
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        @RenderBody()
      
    </div>
      <footer >
          <div class="container"> <p>&copy; BrainShare @System.DateTime.Now.ToString("yyyy")</p></div>
         
      </footer>
    @RenderSection("Scripts", required: false)
    @if (ViewBag.IsFacebookAccount)
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/custom/fbfriendsSelector.js")"></script>
    }

</body>
</html>
