@using BrainShare.Extensions
@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<div class="container-fluid">


    <div class="row-fluid">

        <div class="span3">

            <div class="sidebar-nav">
                <div>
                    <ul class="nav nav-list">
                        <li class="nav-header">Книги</li>
                        @Html.MenuLink("Книги", "Index", "Books", title: "искадь среди книг на BrainShare")
                        @Html.MenuLink("Импорт", "Search", "Books", title:"импортировать с сервиса Google Books")
                        @Html.MenuLink("Добавить", "Add", "Books")
                        <li class="divider"></li>
                        <li class="nav-header">Мои Книги</li>
                        @Html.MenuLink("Мои Книги", "MyBooks", "Profile")
                        @Html.MenuLink("Ищу Книги", "WishList", "Profile")
                        @Html.MenuLink("Предложения по обмену", "Inbox", "Profile", null, "<span id=\"booksCounter\" class=\"badge badge-warning\" style=\"margin-left: 10px\"></span>")
                        <li class="divider"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span9">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)

