@using System.Web.Optimization
@using BrainShare.Extensions
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | BrainShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <link href="~/Scripts/pnotify-1.2.0/jquery.pnotify.default.css" rel="stylesheet" />
    <link href="~/Content/imgAreaSelect/imgareaselect-default.css" rel="stylesheet" />
    @* Libs Scripts*@
    <script src="~/Scripts/jquery-2.0.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.2.min.js"></script>
    <script src="~/Scripts/custom/notifications.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-bootstrap.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/pnotify-1.2.0/jquery.pnotify.min.js"></script>
    @* Our Scripts*@
    <script src="~/Scripts/custom/common.js"></script>
    <script src="~/Scripts/custom/addbook.js"></script>
    <script src="~/Scripts/custom/allbooks.js"></script>
    @RenderSection("head", required: false)
    @* favicons and touch icons go here *@

    @if (Request.IsAuthenticated)
    {
        <script>
            window.CurrentUserId = "@ViewBag.UserId";
        </script>
    }
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">BrainShare</a>

                <div class="nav-collapse collapse">

                    @if (Request.IsAuthenticated)
                    { 
                        <p class="navbar-text pull-right" id="currentUser">
                            <a href="/profile" class="navbar-link">@ViewBag.UserName</a> (@User.Identity.Name) <a  href="@Url.Action("Logout", "User")" >Logout</a>
                        </p>
                       
                    }
                    else
                    {
                        <ul class="nav pull-right">
                            @Html.MenuLink("Регистрация", "Register", "User", null)
                            @Html.MenuLink("Войти", "Login", "User", null)
                            @Html.MenuLink("Facebook", "LoginWithFacebook", "User", "facebook-link")
                        </ul>
                    }

                    <ul class="nav" id="mainNav">
                        @Html.MenuLink("Активность", "Index", "Home", null)
                        @Html.MenuLink("Книги", "Index", "Books")
                        @Html.MenuLink("Мой Аккаунт", "Index", "Profile", null)
                        @Html.MenuLink("Помощь", "Index", "Help", null)
                        @Html.MenuLink("Отзывы", "Feedback", "Home", null)
                    </ul>

                    <ul class="nav" id="loadBar" style="display: none">
                        <li>
                            <div id="progress" style="margin-left: 5%">
                                <div id="bar"></div>
                                <div id="percent">0 %</div>
                            </div>
                        </li>
                        <li>
                            <div style="margin-left: 85%; margin-top: 8%;">
                                <button id="cancelLoading" class="btn btn-mini btn-danger">Отменить</button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer style="position: relative">
        <div class="container">
            <p style="text-align: center">&copy; BrainShare @System.DateTime.Now.ToString("yyyy")</p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
    @if (ViewBag.IsFacebookAccount)
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/custom/fbfriendsSelector.js")"></script>
    }

    <script>
        $(function () {
            $(".navbar-fixed-top a[href='/Books']").append("&nbsp;<span id='booksConter' class='badge badge-warning'>0</span>");
            $(".navbar-fixed-top a[href='/Profile']").append("&nbsp;<span id='messagesConter' class='badge badge-info'>0</span>");
            $.post("/profile/get-new-books-count", function (data) {
                if (data.Result !== undefined) {
                    $(".inboxBooks, .booksConter").text(data.Result);
                }
            });

            $.post("/profile/get-new-messages-count", function (data) {
                if (data.Result !== undefined) {
                    $(".messagesConter").text(data.Result);
                }
            });
        });
    </script>
</body>
</html>
