@using BrainShare.Extensions
@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<div class="container-fluid">


    <div class="row-fluid">

        <div class="span3">

            <div class="sidebar-nav">
                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">Книги</li>
                        @Html.MenuLink("Последние", "Index", "Books")
                        @Html.MenuLink("Искать", "Search", "Books")
                        <li class="nav-header">Мои Книги</li>
                        @Html.MenuLink("Мои Книги", "MyBooks", "Profile")
                        @Html.MenuLink("Мой список поиска", "WishList", "Profile")
                        @Html.MenuLink("Предложения по обмену", "Inbox", "Profile", null, "<span id=\"booksCounter\" class=\"badge badge-warning\" style=\"margin-left: 10px\"></span>")
                    </ul>
                </div>
            </div>
        </div>
        <div class="span9">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)

