@model BrainShare.Controllers.HomeViewModel

<style type="text/css">
    /* Main marketing message and sign up button */
    .jumbotron {
        margin: 60px 0;
        text-align: center;
    }

        .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
        }

        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

    /* Supporting marketing content */
    .marketing {
        margin: 60px 0;
    }

        .marketing p + h4 {
            margin-top: 28px;
        }
</style>

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>BrainShare</h1>
        <p class="lead">
            Социальный сервис по обмену книгами.
        <br />
            Регистрируйтесь и добавляйте свои книги на сайт и указывайе книги которые вы ищите.
        </p>
        <a class="btn btn-large btn-success" href="/User/AuthorizeWithFacebook">Войти</a>
    </div>
}


<h4>5 последних Книг</h4>
<div>
    <ul class="thumbnails" data-bind="foreach: items">
        @foreach (var item in Model.Books)
        {
            <li class="book-item" onclick="window.location = '/books/info/@item.Id'">
                <div class="thumbnail">
                    <img style="width: 128px; max-height: 185px;" src="@item.Image" data-bind="attr: { src: Image }" />

                    <div class="caption" style="max-height: 170px; overflow: hidden;">
                        <strong style="display: block" class="color-black">@item.Title.CutString(30)</strong>
                        <span style="display: block">@item.PublishedDate.CutString(30)</span>
                        <span style="display: block" class="color-black">@item.Authors.CutString(30)</span>
                        <div>
                            <span class="label">@item.PageCount</span> стр.
                        </div>
                        <strong style="display: block" class="color-black">@item.Address.CutString(30)</strong>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<h4>5 последних Пользователей</h4>
<table class="table table-condensed table-striped">

    <ul class="thumbnails">
        @foreach (var item in Model.Users)
        {
            <li class="user-icon">
                <div class="thumbnail" onclick="window.location = '/profile/view/@item.UserId'" style="width: 140px; height: 200px; overflow: hidden;">
                    <img style="width: 128px;" src="@item.Avatar" />
                    <div class="caption text-center">
                        <strong style="display: block" class="color-black">@item.Username.CutString(20)</strong>
                        <span class="color-black">@item.Address.CutString(20)</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</table>
<h4>Активность</h4>
<table class="table table-condensed table-striped">

    <tbody>
        @foreach (var item in Model.Feeds)
        {
            <tr>
                <td>@Html.Partial(item.ActivityType.ToString(), item)</td>
            </tr>
        }
    </tbody>
</table>
