@using Newtonsoft.Json

<script src="~/Scripts/Views/Books/AllBooksModel.js"></script>
<script type="text/javascript">
    $(function () {

        var model = new AllBooksModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    });

</script>

<h4 style="padding-bottom: 0.5em">Книги на BrainShare</h4>
<form class="form-inline" action="/books" method="POST" data-bind="submit: search">
    <input type="text" data-bind="value: filter.Search" />
    <button type="submit" class="btn btn-success" style="margin-left: 0.5em;">Искать</button>
    <img style="width: 30px; height: 30px;" data-bind="visible: filter.Loading" src="~/Images/loading.gif" />

    <ul class="nav nav-pills pull-right">
        <li data-bind="css: { active: filter.Advanced }">
            <a href="#" data-bind="click: toggleAdvancedSearch"><i class="icon-plus"></i> Расширенный поиск</a>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div class="well" data-bind="visible: filter.Advanced">
        <div class="container">
            <div class="span4">
                @KO.EditRow("UserName", modelPrefix: "filter.",displayName:"Пользователь")
                @KO.EditRow("Location", modelPrefix: "filter.",displayName:"Город")
                @KO.EditRow("Author", modelPrefix: "filter.",displayName:"Автор")
            </div>
            <div class="span4">
                @KO.EditRow("ISBN", modelPrefix: "filter.")
                <div class="control-group">
                    <label class="control-label" for="Language">Язык</label>
                    <div class="controls">
                        <select data-bind="options: languages, optionsText: 'NativeName', value: filter.Language, optionsCaption: 'Любой', optionsValue: 'Symbol'" class="input-block-level" id="Language"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">

    <ul class="thumbnails" data-bind="foreach: items">
        <li class="book-item">
            <div class="thumbnail" data-bind="click: $root.info">
                <div style="height: 235px; overflow: hidden; text-align: center"  >
                    <img style="width: 128px; max-height: 185px; margin: auto" data-bind="attr: { src: Image }" />
                    <div class="caption" style="max-height: 60px; overflow: hidden;">
                        <strong style="display: block;" class="color-black" data-bind="text: $root.CutString(Title(), 30)"></strong>
                    </div>
                </div>
                <div style="height: 70px; margin-left: -5px; margin-right: -5px; padding-left: 5px; padding-right: 5px; background-color: #ecf0f1; ">
                    <div class="pull-left">
                        <img style="height: 64px; width: 64px;" src="https://graph.facebook.com/100000412732971/picture?width=250&height=250" />
                    </div>
                    <div class="pull-left" style="width: 104px; text-align: center; padding-top: 5px">
                        <strong class="color-black" data-bind="text: $root.CutString(UserName(), 12)"></strong>
                        <br/>
                        <strong class="color-black" data-bind="text: $root.CutString(Address(), 12)"></strong>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
@Html.Partial("Pagination")