@using Newtonsoft.Json

<script type="text/javascript">
    $(function () {

        var model = new AllBooksModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    });

</script>

<h4 style="padding-bottom: 0.5em">Последние добавленные</h4>
<form class="form-inline" action="/books" method="POST" data-bind="submit: search">
    <input type="text" data-bind="value: filter.Search" />
    <button type="submit" class="btn btn-success" style="margin-left: 0.5em;">Искать</button>
    <img style="width: 30px; height: 30px;" data-bind="visible: filter.Loading" src="~/Images/loading.gif" />

    <ul class="nav nav-pills pull-right">
        <li data-bind="css: { active: filter.Advanced }">
            <a href="#" data-bind="click: toggleAdvancedSearch">Расширенный поиск</a>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div class="well" data-bind="visible: filter.Advanced">
        <div class="container">
            <div class="span4">
                @KO.EditRow("Search", modelPrefix: "filter.")
                @KO.EditRow("Search", modelPrefix: "filter.")
                @KO.EditRow("Search", modelPrefix: "filter.")
            </div>
            <div class="span4">
                @KO.EditRow("Search", modelPrefix: "filter.")
                @KO.EditRow("Search", modelPrefix: "filter.")
                @KO.EditRow("Search", modelPrefix: "filter.")
            </div>
        </div>
    </div>
</form>

<div class="row">

    <ul class="thumbnails" data-bind="foreach: items">
        <li class="book-item">
            <div class="thumbnail" data-bind="click: $root.info">
                <img style="width: 128px; max-height: 185px;" data-bind="attr: { src: Image }" />

                <div class="caption" style="max-height: 170px; overflow: hidden;">
                    <strong style="display: block;" class="color-black" data-bind="text: $root.CutString(Title(), 30)"></strong>
                    <span style="display: block;" data-bind="text: $root.CutString(PublishedDate(), 30)"></span>
                    <span style="display: block;" class="color-black" data-bind="text: $root.CutString(Authors(), 30)"></span>
                    <div>
                        <span class="label" data-bind="text: PageCount"></span>стр.
                    </div>
                    <strong style="display: block;" class="color-black" data-bind="text: $root.CutString(Address(), 30)"></strong>
                </div>
            </div>
        </li>
    </ul>
</div>
@Html.Partial("Pagination")