@using Newtonsoft.Json
@model BrainShare.Controllers.BookViewModel

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Books/info.js")"></script>
    <script>
        $(function () {
            var model = new InfoModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        })
    </script>
}
@{
   
    ViewBag.Title = Model.Title;
}
<div class="span12">
    <h4>@Model.Title</h4>
    <div>
        <div class="span3">
            @Html.Partial("DetailsPartial", Model)
        </div>
        <div class="span9">
            <div class="btn-group">
                <button type="button" data-bind="click: take" class="btn btn-success">Мне нужна</button>
                <a  href="/books/take/@Model.Id" class="btn btn-info">У кого есть</a>
                <button type="button" data-bind="click: give" class="btn btn-primary">У меня есть</button>
            </div>
            <div class="clearfix"></div>
            <div class="well">
                <div class="span3">
                    @Html.Partial("FbShareBtn")
                </div>

                <div class="span3">
                    @Html.Partial("TwShareBtn")
                </div>
                <div class="span3">
                    @Html.Partial("VkShareBtn")
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="span12">
            <div>
                <a href="#"></a>
            </div>
            <hr />
            <h4>Предпросмотр</h4>
            <div>
                @Html.Partial("GooglePreview", Model.GoogleBookId)
            
            </div>
        </div>
    </div>
    <div>
        <div class="span12">
            @Html.Partial("Disquas")
        </div>
    </div>
</div>
