@using Newtonsoft.Json
@model BrainShare.Controllers.BookViewModel

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Books/info.js")"></script>
    <script>
        $(function () {
            var model = new InfoModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        })
    </script>
}
@{
   
    ViewBag.Title = Model.Title;
}
<div class="span12">
    <h4>@Model.Title</h4>
    <div>
        <div class="span3">
            @Html.Partial("DetailsPartial", Model)
        </div>
        <div class="span9">
            <div class="btn-group">
                <button type="button" data-bind="click: take" class="btn btn-success">Мне нужна</button>
                <a  href="/books/take/@Model.Id" class="btn btn-info">У кого есть</a>
                <button type="button" data-bind="click: give" class="btn btn-primary">У меня есть</button>
            </div>
            <div class="clearfix"></div>
            <div class="well">
                
        
               
                <div class="span3">
                    
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=174844976010327";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                         <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                </div>
                
                <div class="span3">   <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru">Твитнуть</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>            </div>

            <div class="span3">
                    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
                            <script type="text/javascript">
<!--
    document.write(VK.Share.button());
    -->
                                  </script>
                </div>
                
             
            </div>
            
        </div>

    </div>
    <div>
        <div class="span12">
            <div>
                <a href="#"></a>
            </div>
            <hr />
            <h4>Предпросмотр</h4>
            <div>
                <iframe frameborder="0" scrolling="no" style="border:0px" src="http://books.google.by/books?id=@(Model.GoogleBookId)&lpg=PP1&hl=ru&pg=PT3&output=embed" width="100%" height=800></iframe>
            </div>
        </div>
    </div>
    <div>
        <div class="span12">
            @Html.Partial("Disquas")
        </div>
    </div>
</div>
