@using Newtonsoft.Json
@model BrainShare.Controllers.TakeBookViewModel

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Books/take.js")"></script>
    <script type="text/javascript">
        $(function () {
            var model = new TakeModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        });
    </script>
}



@{
   
    ViewBag.Title = Model.Book.Title;
}



<div class="span12">
    <h4>@Model.Book.Title</h4>
    <div>
        <div class="span3">
            @Html.Partial("DetailsPartial", Model.Book)
        </div>
        <div class="span9">

            <span class="label label-info">Пользователи которые меняют эту книгу</span>
            <table class="table table-condensed table-striped">
                <tbody data-bind="foreach: owners">
                    <tr>
                        <td data-bind="text: UserName"></td>
                        <td>
                            <a class="btn btn-small" href="#" data-bind="click: $root.seeProfile">Профиль</a>
                            <a class="btn btn-small" href="#" data-bind="click: $root.sendRequest">Отправить запрос на обмен</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div>
        @Html.Partial("Disquas")
    </div>
</div>
