@model BrainShare.ViewModels.ViewExchangeHistoryViewModel

<h4>История обмена</h4>


<table class="table table-condensed table-striped">
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Date</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                @foreach (var entry in item.Entries)
                {
                    <td>
                        <div class="thumbnail text-center span7">
                            <img  src="@entry.AvatarUrl"/>
                            <br />
                       @*     <a href="/profile/view/@entry.User.UserId">@entry.User.UserName</a>*@
                        </div>
                    </td>
                    <td>
                        <a href="@entry.BookInfoLink">@entry.BookTitle</a>
                        <br />
                        @entry.BookSubTitle
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
