@using BrainShare.Domain.Enums
@model BrainShare.ViewModels.ViewExchangeHistoryViewModel

<h4>История обмена</h4>


<table class="table table-condensed table-striped">
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td colspan="4">@item.Date</td>
            </tr>
            <tr>
                    <td class="span2">
                        <div class="thumbnail text-center span12">
                            <img  src="@item.Me.AvatarUrl"/>
                            <br />
                              <a href="/profile/view/@item.Me.UserId">@item.Me.UserName</a>
                        </div>
                    </td>

                <td class="relative">
                    <a class="top-left" href="@item.Me..BookInfoLink">
                        @item.Me.BookTitle <i class="icon-arrow-right"></i>
                        <br />
                        <img src="@item.Me.BookImage"/>
                    </a>
                    <a class="down-right" href="@item.NotMe.BookInfoLink">
                        <img src="@item.NotMe.BookImage"/>
                        <br/>
                        <i class="icon-arrow-left "></i> @item.NotMe.BookTitle
                    </a>
                </td>
                <td class="span2">
                    <div class="thumbnail text-center span12">
                        <img src="@item.NotMe.AvatarUrl" />
                        <br />
                        <a href="/profile/view/@item.NotMe.UserId">@item.NotMe.UserName</a>
                    </div>
                </td>
                
            </tr>
        }
    </tbody>
</table>


<style>
 .arrow-container {
     /*margin: 0 auto;*/
     display: inline-block;
 }
  .table td {
        vertical-align: middle;
      text-align: center;
   }
  .top-left {
      position: absolute;
      top: 5px;
      left: 5px;   
  }

  td.relative img {
      height: 100px;  
  }

  .down-right {
      position: absolute;
      bottom: 5px;
      right: 5px;   
  }
  .relative {
      position: relative;   
  }
</style>
