@model System.Collections.Generic.IEnumerable<BrainShare.Documents.ExchangeHistory>

<h4>История обмена</h4>


<table class="table table-condensed table-striped">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                @foreach (var entry in item.Entries)
                {
                    <td>
                        <div class="thumbnail text-center">
                            <img width="64px" src="@entry.User.AvatarUrl"/>
                            <br />
                            <a href="/profile/view/@entry.User.UserId">@entry.User.UserName</a>
                        </div>
                    </td>
                    <td>
                        <a href="/books/info/@entry.BookSnapshot.Id">@entry.BookSnapshot.Title</a>
                        <br />
                        @entry.BookSnapshot.Subtitle
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
