@using BrainShare.Utilities
@using Newtonsoft.Json
@model BrainShare.ViewModels.BookViewModel
@section Meta{
    <meta property="og:image" content="@Model.Image" />
    <meta property="og:site_name" content="BrainShare" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:url" content="@UrlUtility.CurrentUrl" />
    <meta property="og:description" content="@Model.SharingSearchBookText" />
    <meta property="og:type" content="website/book" />
}
@section Schemas{
    xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"
}
@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Books/info.js")"></script>
    <script>
        $(function() {
            var model = new InfoModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        })
    </script>
}

@{
    ViewBag.Title = Model.Title;
}

<div class="span12">
    <p>Пользователь @(ViewBag.Searecher) ищет книгу</p>
    <h4 style="margin-bottom: 3%">@Model.Title</h4>
    <div>
        <div class="span3">
            @Html.Partial("DetailsPartial", Model)

            @if (Model.UserId != Model.CurrentUserId)
            {
                <div style="margin-top: 10px">
                    <button type="button" data-bind="click: take" class="btn btn-success btn-block">Мне нужна</button>
                    <button type="button" data-bind="click: give" class="btn btn-primary btn-block">У меня есть</button>
                </div>
            }
            else
            {
                <div style="margin-top: 30px" class="text-center"><i class="icon-check icon-3x" style="color: green;" title="Книга у вас в коллекции"></i></div>
            }

        </div>

        <div class="span9">
            <div class="row-fluid">
                <div class="span12">

                    <div class="row-fluid">
                        <div class="span9">
                            <div>
                                <strong class="span5">Название:</strong>
                                <span class="span7" data-bind="text: book.Title"></span>
                            </div>
                            <div data-bind="visible: book.Subtitle">
                                <strong class="span5">Подзаголовок:</strong>
                                <span class="span7" data-bind="text: book.Subtitle"></span>
                            </div>
                            <div>
                                <strong class="span5">Авторы:</strong>
                                <span class="span7" data-bind="text: book.Authors"></span>
                            </div>
                            <div>
                                <strong class="span5">Издательство:</strong>
                                <span class="span7" data-bind="text: book.Publisher"></span>
                            </div>
                            <div>
                                <strong class="span5">Дата издания:</strong>
                                <span class="span7" data-bind="text: book.PublishedDate"></span>
                            </div>
                            <div>
                                <strong class="span5">Количество страниц:</strong>
                                <span class="span7" data-bind="text: book.PageCount"></span>
                            </div>

                            <div data-bind="visible: book.Description">
                                <strong class="span5">Описание:</strong>
                                <span class="span7" data-bind="text: book.Description"></span>
                            </div>
                            <div>
                                <strong class="span5">Местонахождение книги:</strong>
                                <span class="span7" data-bind="text: book.Address"></span>
                            </div>
                        </div>
                        <div class="span3">
                            <div style="text-align: center">
                                <img style="width: 130px; height: 130px;" data-bind="attr: { src: book.AvatarUrl != null ? book.AvatarUrl : '/images/user-default-avatar.jpg' }" />
                                <a style="padding-top: 10px; padding-bottom: 10px; display: block;" data-bind="attr: { href: book.UserProfile }, text: book.UserName"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="well">
                <div class="span4">
                    @Html.Partial("ShareButtons/FbShareBtn")
                </div>

                <div class="span4">
                    @Html.Partial("ShareButtons/TwShareBtn", Model.SharingSearchBookText)
                </div>
                <div class="span4">
                    @Html.Partial("ShareButtons/VkShareBtn")
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="span12">
            <div>
                <a href="#"></a>
            </div>
            <hr />
            <h4>Предпросмотр</h4>
            <div>
                @if (Model.GoogleBookId != null)
                {
                    @Html.Partial("GooglePreview", Model.GoogleBookId)
                }
            </div>
        </div>
    </div>
    <div>
        <div class="span12">
            @Html.Partial("Disquas")
        </div>
    </div>
</div>
