@model BrainShare.ViewModels.BindFacebookViewModel



<h5>Пользователь с e-mail <span style="color: rgb(167, 154, 84); padding-left: 5px; padding-right: 5px;">'@Model.Email'</span> уже зарегистрирован, подтвердите пароль этого аккаунта что бы продожить</h5>

@using (Html.BeginForm("BindFacebook", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div style="padding-top: 10px;" class="control-group">
        @Html.LabelFor(m => m.Password, "Подтвердите пароль", new { @class = "control-label" })
        <div class="controls">
            @Html.Password("Password", Model.Password, new { style = "margin-right: 0.5em;", required = "required" })
            @Html.ValidationMessage("Password", new { style = "color: coral;" })
        </div>
    </div>
    
    @Html.HiddenFor(model => Model.Email);
    @Html.HiddenFor(model => Model.FacebookId)
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Готово
        </button>
        @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-danger" })
    </div>
}

