@using BrainShare.Utilities
@model BrainShare.Facebook.FacebookSelectorViewModel

@{
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174844976010327";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



@if (ViewBag.IsFacebookAccount)
{
    
    @Styles.Render("~/Content/fbfriends.css")

    <div id="TDFriendSelector" style="display: block;">
        <div class="TDFriendSelector_dialog">
            <div class="TDFriendSelector_form">
                <div class="TDFriendSelector_header">
                    <div style="color: white;">Друзья из Facebook</div>
                </div>
                <div class="TDFriendSelector_content">

                    <div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">

                        <div class="TDFriendSelector_selectedCountContainer">
                            <span>Зарегистрированные на BrainShare (@Model.FacebookFriends.Count)</span>
                        </div>
                    </div>
                    <div class="TDFriendSelector_friendsContainer">
                        @foreach (var friend in Model.FacebookFriends)
                        {
                            <a href="@Url.Action("ViewUserProfile", "Profile", new { id = friend.Id })" class="TDFriendSelector_friend TDFriendSelector_clearfix">
                                <img src="@friend.AvatarUrl" alt="@friend.FirstName @friend.LastName" class="TDFriendSelector_friendAvatar">
                                <div class="TDFriendSelector_friendName">
                                    <span style="color: black">@friend.FirstName @friend.LastName</span>
                                </div>
                            </a>
                        }
                    </div>
                </div>

                <div class="TDFriendSelector_footer TDFriendSelector_clearfix">
                    <div style="float: left;">Пригласите друзей на BrainShare!</div>
                    <div style="float: left; padding-left: 20px;">
                        <div class="fb-send" data-href="@UrlUtility.ApplicationBaseUrl" data-width="100" data-height="50" data-colorscheme="light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="well">
        <h4>Пройдите авторизацию через фэйсбук</h4>
        <p>
            Чтобы просмотреть своих друзей зарегистрированных на BrainShare или пригласить их на наш сервис пройдите авторизацию через <a style="color: rgb(6, 6, 192); padding-left: 7px" href="/User/LoginWithFacebook">Facebook</a>
        </p>
    </div>
}

