@model BrainShare.Facebook.FacebookSelectorViewModel

@{
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174844976010327";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

@Styles.Render("~/Content/fbfriends.css")

<div id="TDFriendSelector" style="display: block;">
    <div class="TDFriendSelector_dialog">


        <div class="TDFriendSelector_form">

            <div class="TDFriendSelector_header">
                <div style="color: white;">Друзья из фэйсбука  <a style="float: right;" href="#" id="TDFriendSelector_buttonOK">x</a></div>

            </div>

            <div class="TDFriendSelector_content">
                @* <p>Take a look to your friend's profile!</p>*@

                <div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">

                    <div class="TDFriendSelector_selectedCountContainer">
                        <span>Зарегистрированные на BrainShare (@Model.FacebookFriends.Count)</span>
                    </div>
                </div>
                <div class="TDFriendSelector_friendsContainer">
                    @foreach (var friend in Model.FacebookFriends)
                    {
                        <a href="@Url.Action("ViewUserProfile", "Profile", new { id = friend.Id })" class="TDFriendSelector_friend TDFriendSelector_clearfix">
                            <img src="@friend.AvatarUrl" alt="@friend.FirstName @friend.LastName" class="TDFriendSelector_friendAvatar">
                            <div class="TDFriendSelector_friendName">
                                <span>@friend.FirstName @friend.LastName</span>
                            </div>
                        </a>
                    }
                </div>
            </div>

            <div class="TDFriendSelector_footer TDFriendSelector_clearfix">
                <div style="float: left;">Пригласите друзей на BrainShare!</div>
                <div style="float: right">
                    @* <div class="fb-send" data-href="@Model.ApplicationUrl" data-width="60" data-height="20" data-colorscheme="light"></div>*@
                    @*   <div class="fb-send" data-href="/" data-width="60" data-height="20" data-colorscheme="light"></div>*@
                    <div class="fb-send" data-href="http://developers.facebook.com/docs/plugins/" data-width="60" data-height="20" data-colorscheme="light"></div>
                </div>
            </div>

        </div>
    </div>
</div>
