@model BrainShare.ViewModels.LoginView
@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Вход</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Вход</legend>
        <div class="control-group">
            <div class="controls">
                <a class="btn-facebook" id="btn-facebook" href="@Url.Action("LoginWithFacebook", "User")">Войти</a>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="Email">
                Email
            </label>
            <div class="controls">
                @Html.TextBox("Email", Model.Email, new { @class = "input-xlarge", id = "Email" })
                @Html.ValidationMessage("Email")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="Password">
                Пароль</label>
            <div class="controls">
                @Html.Password("Password", Model.Password, new { @class = "input-xlarge", id = "Password" })
                @Html.ValidationMessage("Password")
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Войти
            </button>
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-danger" })
        </div>

    </fieldset>
}

