@model BrainShare.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="~/Scripts/jquery.geocomplete.min.js"></script>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>

        <legend>Заполните форму для регистрации или используйте ваш Facebook аккаунт</legend>
            @Html.ValidationSummary()
       
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-large btn-primary" href="@Url.Action("LoginWithFacebook", "User")">Войти через Facebook</a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="FirstName">
                    Имя
                </label>
                <div class="controls">
                    @Html.TextBox("FirstName", Model.FirstName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="LastName">
                    Фамилия
                </label>
                <div class="controls">
                    @Html.TextBox("LastName", Model.LastName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="geocomplete">
                    Город
                </label>
                <div class="controls">
                    <input id="geocomplete" placeholder="введите город" name="original_address" type="text" value="@Model.original_address"/>
                </div>
                <div>
                </div>
                <div id="locationValues" class="hide">
                    <input name="formatted_address" type="hidden" value="@Model.formatted_address">
                    <input name="country" type="hidden" value="@Model.country">
                    <input name="locality" type="hidden" value="@Model.locality">
                </div>

                <script>
                    $(function () {
                        $("#geocomplete").geocomplete({
                            map: '.map_canvas',
                            details: "#locationValues"
                        });
                    });
                </script>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">
                    e-mail
                </label>
                <div class="controls">
                    @Html.TextBox("Email", Model.Email, new { id = "Email" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Password">
                    Пароль
                </label>
                <div class="controls">
                    @Html.Password("Password", Model.Password, new { id = "Password" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="ConfirmPassword">
                    Подтвердите пароль
                </label>
                <div class="controls">
                    @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { id = "ConfirmPassword" })
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="thumbnail">
                <div class="map_canvas" style="height: 400px">
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Готово
            </button>
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-danger" })
        </div>
    </fieldset>
}


