@model BrainShare.Controllers.RegisterViewModel

<h2>Регистрация</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Регистрация</legend>
        <div class="control-group">
            <label class="control-label" for="Email">
                Email</label>
            <div class="controls">
                @Html.TextBox("Email", Model.Email, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Email")
            </div>

        </div>
        
        
        <div class="control-group">
            <label class="control-label" for="FirstName">
                Имя</label>
            <div class="controls">
                @Html.TextBox("FirstName", Model.FirstName, new { @class = "input-xlarge" })
                @Html.ValidationMessage("FirstName")
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="LastName">
                Фамилия</label>
            <div class="controls">
                @Html.TextBox("LastName", Model.LastName, new { @class = "input-xlarge" })
                @Html.ValidationMessage("LastName")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="Password">
                Пароль</label>
            <div class="controls">
                @Html.Password("Password", Model.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Password")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">
                Подтвердите</label>
            <div class="controls">
                @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { @class = "input-xlarge" })
                @Html.ValidationMessage("ConfirmPassword")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Войти</button>
        </div>
    </fieldset>
}