@using BrainShare.Utils.Extensions

@model dynamic

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="row-fluid">

    <div class="span3">

        <div class="sidebar-nav">
            <div>
                <ul class="nav nav-list">
                    <li class="nav-header">Профиль</li>
                    @Html.MenuLink("Мой Профиль", "Index", "Profile", null)
                    @Html.MenuLink("Сообщения", "AllMessages", "Profile", null, "<span id=\"messagesCounter\" class=\"badge badge-info\" style=\"margin-left: 10px\"></span>")
                    @Html.MenuLink("Друзья", "Friends", "User")
                    @Html.MenuLink("Новости", "News", "User",null, "<span id=\"newsCounter\" class=\"badge badge-info\" style=\"margin-left: 10px\"></span>")
                    @Html.MenuLink("Сменить пароль", "ChangePassword", "Profile")
                    @Html.MenuLink("Настройки", "Settings", "Profile")
                    <li class="divider"></li>
                    <li class="nav-header">Другое</li>
                    @Html.MenuLink("Помощь", "HowToAddBook", "Help")
                    @Html.MenuLink("Отзывы", "Feedback", "Home")
                    <li class="divider"></li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="span9" id="profileBody">
        <h3>@ViewBag.Subtitle</h3>
        @RenderBody()
    </div>
</div>
@RenderSection("Scripts", required: false)
