@using BrainShare.Extensions
@model dynamic

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    ViewBag.Title = "Помощь | " + ViewBag.Subtitle;
}

<div class="container-fluid">


    <div class="row-fluid">

        <div class="span3">
            <h4>@ViewBag.UserName</h4>

            <div class="sidebar-nav">
                <ul class="nav nav-list nav-stacked">
                    <li class="nav-header">Профиль</li>
                    @Html.MenuLink("Мой Профиль", "Index", "Profile", null)
                    @Html.MenuLink("Сообщения", "AllMessages", "Profile", null)
                    <li class="divider"></li>
                </ul>
            </div>

        </div>
        <div class="span9">
            <h3>@ViewBag.Subtitle</h3>
            @RenderBody()
        </div>
    </div>
</div>
@RenderSection("Scripts", required: false)