@using BrainShare.Extensions
@model dynamic

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    ViewBag.Title = "Помощь | " + ViewBag.Subtitle;
}

<div class="container-fluid">


    <div class="row-fluid">

        <div class="span3">
            <h4>@ViewBag.UserName</h4>

            <div class="sidebar-nav">
                <ul class="nav nav-list nav-stacked">
                    <li class="nav-header">Профиль</li>
                    @Html.MenuLink("Мой Профиль", "Index", "Profile", null)
                    @* @Html.MenuLink("Сообщения", "AllMessages", "Profile", null, "<span id=\"messagesConuter\" class=\"badge badge-info\" style=\"margin-left: 10px\">0</span>")*@
                    @Html.MenuLink("Сообщения", "AllMessages", "Profile", null, "<span id=\"messagesCounter\" class=\"badge badge-info\" style=\"margin-left: 10px\"></span>")
                    @if (ViewBag.IsFacebookAccount)
                    {
                        <li><a id="fbFriendsSelectorLink" href="#" style="color: #537FF0">Друзья из Фэйсбука
                                <img style="width: 30px; height: 30px; display: none; padding-left: 15px;" data-bind="visible: ShowFriendsLoading" src="/Images/loading.gif"></a></li>
                    }
                    <li class="divider"></li>
                </ul>

                @if (ViewBag.IsFacebookAccount)
                {
                    <div id="fbFriendsSelector"></div>
                }
            </div>
        </div>
        <div class="span9" id="profileBody">
            <h3>@ViewBag.Subtitle</h3>
            @RenderBody()
        </div>
    </div>
</div>
@RenderSection("Scripts", required: false)

@if (ViewBag.IsFacebookAccount)
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/fbfriendsSelector.js")"></script>
    <script type="text/javascript">
        var facebookSelectorModel = new FacebookSelectorModel();
        ko.applyBindings(facebookSelectorModel, $("#fbFriendsSelectorLink")[0]);
    </script>
}