@using Newtonsoft.Json
@model BrainShare.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<!-- ko with: model-->
    @Html.Partial("KnockoutSummary")

@if (Model.IsFacebokAccountWithoutPassword)
{
    <p >Вы зарегестрированы с помощью сервиса Facebook. Заполните указанные ниже поля и вы получите альтернативную возможность авторизации на сайте.Вы сможете авторизироваться по зарегестрированному 
    почтовому адресу на Facebook и созданному ниже паролю.
</p>
}
<div class="control-group">
    <span>@(Model.IsFacebokAccountWithoutPassword ? "Введите пароль" : "Введите новый пароль")</span>
    <div class="controls">
        <input type="text" data-bind="value: Password">
    </div>
</div>

<div class="control-group">
    <span>@(Model.IsFacebokAccountWithoutPassword ? "Подтвердите пароль" : "Подтвердите новый пароль")</span>
    <div class="controls">
        <input type="password" data-bind="value: ConfirmPassword">
    </div>
</div>

<div class="clearfix"></div>
<div class="form-actions">
    <button class="btn btn-primary" data-bind="click:$root.changePassword">
        Готово
    </button>
    @Html.ActionLink("Отмена", "Index", "Profile", null, new { @class = "btn btn-danger" })
</div>

<!-- /ko -->


<script type="text/javascript">
    
    function ChangePasswordModel (data, submitUrl) {
        var self = this;
        
        this.model = ko.mapping.fromJS(data);
        this.changePassword = function () {
      
            sendModel(submitUrl, self.model, function (model) {
                console.log(model);
                if (model.Errors.length == 0) {
                    window.location.href = "/User/Login";
                }
            });
        };

    }
    

    $(function () {

        var model = new ChangePasswordModel(@Html.Raw(JsonConvert.SerializeObject(Model)), "/Profile/ChangePassword");
        ko.applyBindings(model);
    });

</script>
