@model BrainShare.Controllers.MyProfileViewModel


@section Scripts{

    <script src="@Url.Content("~/Scripts/bootstrap.file-input.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.Jcrop.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {

            var jcropApi;
            $("#myImage").Jcrop({
                minSize: [200, 200]
            }, function () { jcropApi = this; });

            $('#apply-banner-crop').click(function () {
                var coords = jcropApi.tellScaled();
                alert( "" + coords.x + " "+ coords.x2 + " " + coords.y + " " + coords.y2);
            });

            $("#file").change(function () {
                $("#uploadImage").click();
                alert("hui");
            });

        });

        function updateCoords(coords) {
            alert(coords);
        }
    </script>
}
<button id="apply-banner-crop">hui</button>

<div class="row">

    <div id="fbFriendsSelector" style="position: absolute; left: 70%; top: 20%;"></div>
    <div class="clearfix"></div>
    <div class="span8 well">
        <div class="row">
            <div class="span1">
                <a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail">
                    <img src="http://critterapp.pagodabox.com/img/user.jpg" alt=""></a>
            </div>
            <div class="span5">
                <p>some text (maybe status)</p>
                <p><strong>@Model.Name</strong></p>
                <span class=" badge badge-warning">8 сообщений</span>
                <span class=" badge badge-info">15 друзей</span>

                @if (ViewBag.IsFacebookAccount)
                {
                    <a id="selectorToggle" class=" badge badge-info" href="#">Друзья из Фэйсбука</a>
                }
                @if (Model.UploadedFile == null)
                {
                    <div>
                        @using (Html.BeginForm("UploadImage", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            <div class="control-group">
                                <label class="control-label" for="Email">
                                    Загрузите файл:</label>
                                <div class="controls">
                                    @Html.TextBox("UploadedFile", Model.UploadedFile, new { type = "file", id = "file" })
                                    @Html.ValidationMessage("UploadedFile")
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" id="uploadImage" class="btn btn-primary">Upload</button>
                            </div>
                        }
                    </div>
                }

                @if (Model.UploadedFile != null)
                {
                    <img src="@Model.ImageUrl" alt="ds" id="myImage"/>
                }

            </div>
        </div>
    </div>
</div>
