@model BrainShare.ViewModels.MyProfileViewModel

@{
    Layout = "_ProfileLayout.cshtml";
}

@section Scripts{

    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/Profile/myProfile.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/imgAreaSelect/jquery.imgareaselect.pack.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var myProfileViewModel = new MyProfileViewModel();
        ko.applyBindings(myProfileViewModel, $("#profileBody")[0]);
    </script>
}

<div class="row">
    <p class="error-mesage"></p>
    <div id="overlay" style="display: none" data-bind="visible: ShowOverlay"></div>

    <div class="span7">

        <div class="form-horizontal span6 offset2">
            <div>
                <div class="control-group">
                    <div>
                        <span class="color-black">Полное имя:</span>
                    </div>
                    <div>
                        <span>@Model.Name</span>
                    </div>
                </div>
                <div class="control-group">
                    <div>
                        <span class="color-black">Адрес:</span>
                    </div>
                    <div>
                        <span>@Model.Address.Formatted</span>
                    </div>
                </div>

                <div class="control-group">
                    <div>
                        <span class="color-black">Ваш рейтинг:</span>
                        <span class="text-warning" style="padding-left: 0.5em">@Model.SummaryVotes</span>
                    </div>
                </div>

                @if (Model.Info != null)
                {
                    <div class="control-group">
                        <div>
                            <span class="color-black">Информация о пользователе:</span>
                        </div>
                        <div style="padding-top: 0.2em">
                            <span>@Model.Info</span>
                        </div>
                    </div>
                }

                <div class="control-group">
                    <a class="btn btn-primary" href="/Profile/EditProfile">Редактировать</a>
                </div>
            </div>
        </div>

    </div>

    <div class="span4">

        <div>
            <div id="avatarContainer" style="text-align: center;">
                <div class="avatar-container">
                    <img style="width: 250px; height: 250px" alt="аватар" class="pics" src="@Model.AvatarUrl"/>
                </div>

                <a href="#" data-bind="visible: ShowChangeAvatarButton, click: UploadImg" style="display: block;">Выбрать аватар</a>
            </div>
        </div>

        <div style="display: none">
            @using (Html.BeginForm("UploadImage", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
            {
                @Html.TextBox("UploadedFile", Model.UploadedFile, new { type = "file", id = "file" })
                @Html.ValidationMessage("UploadedFile")
                <button type="submit" id="uploadImage" class="btn btn-primary">Upload</button>
            }
        </div>
    </div>
</div>




<div id="previewContainer" style="display: none; min-width: 300px" data-bind="visible: ShowPreviewControls">
    <div id="imgPreviewContainer"></div>
    <input type="hidden" id="avatarId" />
    <input type="hidden" id="avatarFormat" />

    <div>
        <button class="btn btn-primary btn-danger" style="float: left; margin-left: 7%; margin-top: 5%" data-bind="click: CancelImg">Отмена</button>
        <button class="btn btn-primary btn-success" style="float: right; margin-right: 7%; margin-top: 5%" data-bind="click: CropImg">Готово</button>
    </div>
</div>

