@using Newtonsoft.Json
@model BrainShare.ViewModels.UserProfileModel

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/Profile/userProfile.js")"></script>
<script type="text/javascript">
    $(function () {
        var model = new UserProfileModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    })
</script>

<style>
    .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
        background-color: lightcyan!important;
    }
</style>

<div>
    <div style="padding-top: 1.5em" class="row">
        <div style="padding-top: 0" class="avatar-container span4">
            <img alt="аватар" data-bind="attr: { src: user.Avatar }" />
            @if (!Model.IsMe)
            {
                <div style="padding-top: 1em">
                    <a href="#" data-bind="click: sendMessage">Отправить сообщение</a>
                </div>
            }
        </div>
       
        <div class="form-horizontal span6">
            <div>
                <div class="control-group">
                    <div>
                        <span class="color-black">Полное имя:</span>
                    </div>
                    <div>
                        <span>@Model.Name</span>
                    </div>
                </div>
                <div class="control-group">
                    <div>
                        <span class="color-black">Адрес:</span>
                    </div>
                    <div>
                        <span>@Model.Address.Formatted</span>
                    </div>
                </div>

                @if (Model.Info != null)
                {
                    <div class="control-group">
                        <div>
                            <span class="color-black">Информация о пользователе:</span>
                        </div>
                        <div>
                            <span>@Model.Info</span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="pull-left">
            <button data-bind="click: increaseReputation, enable: canIncrease" class="vote up">
                <i class="icon-chevron-up icon-3x"></i>
            </button>
            <span data-bind="text: summaryVotes" style="display: block; text-align: center; font-size: 1.5em">0</span>
            <button data-bind="click: decreaseReputation, enable: canDecrease" class="vote down">
                <i class="icon-chevron-down icon-3x"></i>
            </button>
        </div>
    </div>


    <div class="row">

        <div class="tabbable">
            <div style="padding-left: 5em">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#s1" data-toggle="tab">Книги</a></li>
                    <li><a href="#s2" data-toggle="tab">Ищет</a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="s1">
                        <table class="table table-condensed table-hover">
                            <tbody data-bind="foreach: listOfOwnedBooks">
                                <tr data-bind="click: $root.viewBook" style="cursor: pointer;">
                                    <td class="book-image-col">
                                        <img data-bind="attr: { src: Image }" />
                                    </td>
                                    <td data-bind="text: Title"></td>
                                    <td data-bind="text: Authors"></td>
                                    <td data-bind="text: Subtitle"></td>
                                    <td data-bind="text: Publisher"></td>
                                    <td data-bind="text: PublishedDate"></td>
                                    <td data-bind="text: PageCount"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="s2">
                        <table class="table table-condensed table-hover">
                            <tbody data-bind="foreach: listOfWishedBooks">
                                <tr data-bind="click: $root.viewWishBook" style="cursor: pointer">
                                    <td class="book-image-col">
                                        <img data-bind="attr: { src: Image }" />
                                    </td>
                                    <td data-bind="text: Title"></td>
                                    <td data-bind="text: Authors"></td>
                                    <td data-bind="text: Subtitle"></td>
                                    <td data-bind="text: Publisher"></td>
                                    <td data-bind="text: PublishedDate"></td>
                                    <td data-bind="text: PageCount">стр </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

